.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content3 {
    background-color: #fefefe;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 0 20px 20px;
    border-radius: 5px;
    width: 28vw; /* Could be more or less, depending on screen size */
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: end;

  }

  
.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content4 {
    background-color: #fefefe;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 0 20px 20px;
    border-radius: 5px;
    width: 60vw; /* Could be more or less, depending on screen size */
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: end;

  }

  .modal5 { /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content5 {
    background-color: #fefefe;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 0 20px 20px;
    border-radius: 5px;
    width: 60vw; /* Could be more or less, depending on screen size */
    font-size: large;
    display: flex;
    flex-direction: column;

  }

  .SuperContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3%;
    /* background-color: #537895;
    background-image: linear-gradient(to top left, white 0%, #132d7a 74%); */
}

.Container{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 2% 0;
    padding: 15px 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #2b365647;
    border-radius: 20px ;
}



  
@media screen and (max-width:650px) {
  .modal-content3 {
    background-color: #fefefe;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 0 20px 20px;
    border-radius: 5px;
    width: 80vw; /* Could be more or less, depending on screen size */
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: end;
  }


.modal-content4 {
  background-color: #fefefe;
  margin: 8% auto; /* 15% from the top and centered */
  padding: 0 20px 20px;
  border-radius: 5px;
  width: 90vw; /* Could be more or less, depending on screen size */
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: end;

}
}