@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Montserrat:wght@100;400;900&family=Raleway&family=Rubik&family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root,.app{
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  /* background-color: rgb(220 252 231); */
  /* overflow-y: hidden; */
}

.body{
  min-height: 100%;
}

/*For showing which page is active on navbar(homeNavBar.jsx)*/
.active{
  text-decoration: underline;
  text-underline-offset: 6px;
  color: #0f4e9b;
}